# Parameters, please update 
fileName=sample.test.dev

# Certificate Properties, please update
commonName=sample.test.dev
organizationUnit=My Unit
organizationName=My Company
localityName=My Town
stateName=My State
email=admin@mycompany.com

# Passwords for various file type, please update
keyPassword=passwordkey
p12Password=p12password
pemPassword=pempassword
jksPassword=jkspassword

# For JKS
alias=sample
